<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - NProcGen</title>
</head>
<body>
<header>
    <img src="/img/procgenlab.png" alt="procgenlab" />
</header>
<main role="main">
    @RenderBody()
</main>

<footer>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>