@{
    ViewData["Title"] = "Home";
}
@model MapViewModel
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<h1>proc-gen-lab</h1>
<p>
    The ProcGenLab is a hobby project exploring procedural content generation algorithms.
</p>
<p>
    Check out author's <a href="http://ponderingprogrammer.net">blog</a> if you're interested.
    Or take a look at the <a href="https://github.com/ponderingprogrammer">source code</a> on github.
</p>