@{
    ViewData["Title"] = "Home";
}
@model MapViewModel
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<div class="text-center">
    <h1 class="display-4">Square cell map generation with Popping Rectangles algorithm</h1>
    <div>
        <form asp-action="GenerateMap">
            <label asp-for="Options.Width">Width</label>
            <input asp-for="Options.Width"/>
            <label asp-for="Options.Height">Height</label>
            <input asp-for="Options.Height"/>
            <label asp-for="Options.RectCount">Rectangle count</label>
            <input asp-for="Options.RectCount"/>
            <label asp-for="Options.MinRectSize">Rectangle minimum size</label>
            <input asp-for="Options.MinRectSize"/>
            <label asp-for="Options.MaxRectSize">Rectangle maximum size</label>
            <input asp-for="Options.MaxRectSize"/>
            <div asp-validation-summary="All"></div>
            <button type="submit">Generate</button>
        </form>
    </div>
    <div style="width: 100vw; height: 1000px; background-color: lightgray">
        <svg viewBox="0 0 5000 5000" overflow="auto" width="100%" height="100%">
            @Html.Raw(Model?.Svg)
        </svg>
    </div>
</div>
