@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="GenerateMap">Generate map</a>
    <svg style="background-color: lightgray">
        
    </svg>
</div>