@{
    ViewData["Title"] = "Home";
}
@model MapViewModel
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<h1>proc-gen-lab</h1>
<p>
    Page exploring procedural content generation algorithms.
</p>