<!DOCTYPE html>
<html>

<head>
    <title>template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="template.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="margin8">
        <a href="../../index.html">Back to index</a>
        <h1>Title</h1>
        <p>Description of the section</p>
    </div>
    <div class="example">
        <h2>Example title</h2>
        <p>Example description</p>
        <p class="code">Example code</p>
        <div class="example-demo">
            Demo here
        </div>
    </div>
    <div class="example">
        <h2>Another example title</h2>
        <p>Example description</p>
        <p class="code">Example code</p>
        <div class="example-demo">
            Demo here
        </div>
    </div>
</body>

</html>