header {
    background-color: cadetblue;
}

nav > div {
    padding: 8px;
}

nav h1 {
    display: inline;
    font-size: 2em;
}

nav ul {
    display: inline;
    list-style-type: none;
}

nav li {
    display: inline;
}

main {
}

footer {
    padding: 8px;
    background-color: cadetblue;
}

div.hero {
    background-color: #1b1e21;
    color: #d6d8d9;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

div.hero > h1 {
    font-size: 5em;
}