* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-size: 18px;
}

@media screen and (min-width: 1200px) {
    body {
        max-width: 1200px;
        margin: auto;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
}

.margin8 {
    margin: 8px;
}

.topborder {
    border-top: 2px solid turquoise;
    padding-top: 6px;
    margin-top: 16px;
}

.example-demo {
    background-color: whitesmoke;
    border: solid 1px turquoise;
    padding: 1px;
}

.code {
    background-color: whitesmoke;
    font-family: monospace;
    font-size: 16px;
    padding: 6px;
    max-height: 50vh;
    overflow-y: auto;
}