<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NTangle</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <div>
                <a asp-area="" asp-page="/Index">NTangle</a>
                <div>
                    <ul>
                        <li>
                            <a class="" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li>
                            <a class="" asp-area="" asp-page="/Activities">Activity Tree</a>
                        </li>
                        <li>
                            <a class="" asp-area="" asp-page="/Tips">Tip Graph</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div>
            &copy; 2020 - NTangle - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
