@page
@model ActivitiesModel

@{
    ViewData["Title"] = "Activities";
}

<div>
    <h1 class="display-4">Software development activity domains</h1>
    <a asp-page="/Activity">Add new</a>
    <dl>
        @foreach (var a in Model.Activities)
        {
            <dt><a asp-page="/Activity" asp-route-id="@a.Id">@a.Name</a></dt>
            <dd>@a.Description</dd>
        }
    </dl>
</div>
