@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div>
    <h1>NTangle</h1>
    <p>NTangle is a light-hearted attempt to visualize a tangle of software development principles, practices, patterns and other kinds of useful tips.</p>
    <p>NTangle is also subdividing Software Development discipline into an opinionated hierarchy of actvity domains.</p>
</div>
