@page
@using PonderingProgrammer.NTangle.Core
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <dl>
        @foreach (Tip t in Model.Tips)
        {
            <dt>@t.Title</dt>
            <dd>@t.Summary</dd>
        }
    </dl>
</div>
