@page
@model SetsModel

@{
    ViewData["Title"] = "Tipsets";
}

<div>
    <h1 class="display-4">Known groupings of software development tips</h1>
    <dl>
        @foreach (var ts in Model.TipSets)
        {
            <dt>@ts.Name</dt>
            <dd>@ts.Summary</dd>
        }
    </dl>
</div>

