@page
@model TipsModel

@{
    ViewData["Title"] = "Tips";
}

<div>
    <h1 class="display-4">List of software development tips</h1>
    <dl>
        @foreach (var t in Model.Tips)
        {
            <dt>@t.Title</dt>
            <dd>@t.Summary</dd>
        }
    </dl>
</div>
