@page
@model TipsModel

@{
    ViewData["Title"] = "Tips";
}

<div>
    <h2 class="display-4">List of software development tips</h2>
    <dl>
         @foreach (var t in Model.Tips)
         {
             <dt><a asp-page="/Tip" asp-route-id="@t.Id">@t.Name</a></dt>
             <dd>@t.Summary</dd>
         }
    </dl>
</div>
