<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SoftKB</title>
</head>
<body>

<h1>Bla bla bla</h1>

<p>SoftKB is a an attempt at structured knowledge base for software development practices.</p>

<h2>Practices</h2>


<h2>Features</h2>
<ul>
    <li>Disciplines</li>
    <li></li>
</ul>

<h3>Disciplines</h3>
<ul>
    <li>Programming</li>
    <li>Design</li>
    <li>Architecture</li>
    <li>Requirements</li>
    <li>Project management</li>
    <li>Operations</li>
    <li>Tools</li>
</ul>

<h3>Example nugget of knowledge</h3>
<p>
    Separation of Concerns, type: Principle, discipline: Design, Language: Agnostic
</p>

<p>
    SOLID, type: Group, discipline: Design, parent: OOP
</p>

<p>
    OOP, type: Group, discipline: Design
</p>

</body>
</html>