@page
@model Index
@{
    ViewData["Title"] = "Home";
}
<h1>Conjurer</h1>
<ul>
    <li>Core Attributes</li>
    <li>Support Attributes</li>
    <li>Spatial Properties</li>
    <li>Temporal Properties</li>
    <li>Elements</li>
    <li>Effects</li>
    <li>Statuses</li>
</ul>
<h2>Core Attributes</h2>
<dl>
    <dt>Hit points</dt>
    <dd>Once depleted, creature dies.</dd>
    <dt>Element Resistance</dt>
    <dt>Negates a fraction of incoming damage of matching type.</dt>
    <dt>Element Shield</dt>
    <dd>Absorbs flat amount of damage of matching type. Once depleated, shield either gets destroyed or goes down for recharge period.</dd>
    <dt>Evasion</dt>
    <dd>Gives a chance of avoiding incoming attack.</dd>
    <dt>Attack Damage</dt>
    <dd>How much damage and of what type, a single hit delivers.</dd>
    <dt>Attack Speed</dt>
    <dd>How often regular attacks can be delivered.</dd>
    <dt>Attack</dt>
    <dd>Increases chance to hit.</dd>
    <dt>Defence</dt>
    <dd>Lowers opponents chance to hit when actively defending.</dd>
    <dt>Crit Chance</dt>
    <dd>Probability of critical hit.</dd>
    <dt>Movement Speed</dt>
    <dd>Movement Speed in movement modes available to the creature.</dd>
    <dt>Movement Modes</dt>
    <dd>If creature can walk, fly, swim, dive or burrow.</dd>
</dl>
<h2>Support Attributes</h2>
<dl>
    <dt>Strength</dt>
    <dd>Affects meele attack, defence and damage</dd>
    <dt>Toughness</dt>
    <dd>Affects physical resistance</dd>
    <dt>Endurance</dt>
    <dd>Affects some resistances</dd>
    <dt>Agility</dt>
    <dd>Affects evasion and ranged defence</dd>
    <dt>Accuracy</dt>
    <dd>Affects ranged attack and ranged attack speed</dd>
    <dt>Speed</dt>
    <dd>Affects meele attack speed, meele defence and movement speed</dd>
</dl>
<h2>Effects</h2>
<dl>
    <dt>Damage hit points</dt>
    <dd></dd>
    <dt>Damage support attribute</dt>
    <dd></dd>
    <dt>Heal hit points</dt>
    <dd></dd>
    <dt>Heal support attribute</dt>
    <dd></dd>
    <dt>Lower resistance</dt>
    <dd></dd>
    <dt>Boost resistance</dt>
    <dd></dd>
</dl>
<h2>Elements</h2>
<dl>
    <dt>Physical</dt>
    <dd>Impact or pressure from solid object.</dd>
    <dt>Fire</dt>
    <dd>Effects of very high temperature.</dd>
    <dt>Cold</dt>
    <dd>Effects of very low temperature.</dd>
    <dt>Electricity</dt>
    <dd>Electrical current going through the target.</dd>
    <dt>Corrosion</dt>
    <dd>Effects of corrosive substance or environment.</dd>
    <dt>Poison</dt>
    <dd>Effects of hazardous substance going through the targets system.</dd>
    <dt>Sickness</dt>
    <dd>Effects of micro life-forms ravaging targets system.</dd>
    <dt>Vitality</dt>
    <dd>Effects of depleting vital substances required by targets system, such as oxygen or blood for humans and animals.</dd>
    <dt>Holy</dt>
    <dd>Energy of the Light.</dd>
    <dt>Negative</dt>
    <dd>Energy of the Dark.</dd>
</dl>